# Exclusions
!/docker/.envs

# .env files
.env
.env.backup
.env.production

vendor/
/vendor/
node_modules/
/node_modules/
/.phpunit.cache
.phpunit.result.cache
/.fleet
/.vscode
.DS_STORE

/public/build
/public/hot
/public/storage
/storage/*.key
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
.phpactor.json
npm-debug.log
yarn-error.log
auth.json

/.vagrant
Homestead.yaml
Homestead.json

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

# Jetbrains idea based IDEs
/.idea
.idea
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/aws.xml
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea_modules/
.idea/replstate.xml
.idea/sonarlint/
.idea/httpRequests
.idea/caches/build_file_checksums.ser
cmake-build-*/
*.iws
out/


